@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Imventory Manager</h1>
    <p>Keep your items in stock, every day!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application is helpful for any shop owners who need a tool to keep on top of their inventory.
        </p>
        <p>You can click on the links at the top of the page to navigate between your Items and Providers.</p>
    </div>
    <div class="col-md-4">
        <h2>Not just a spreadsheet</h2>
        <p>Intuitively built to give you reports and warnings every time you're running low on stock.</p>
        <p>It gives you the ultimate power to make informed decisions. No more having to count your stock!</p>
    </div>
</div>