@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Manager</h1>
    <p>Keep your items in stock, every day!</p>
</div>

<div class="row">
    <div class="col-md-4">
        @model IEnumerable<EposInventory.ViewModels.LowestStockGroup>

        @{
            ViewBag.Title = "Items with stock below warning level";
        }

        <h2>Items with stock below warning level</h2>

        <table>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Number of items in stock
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <p>placeholder for who to order from today</p>
    </div>
</div>