@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Imventory Manager</h1>
    <p>Keep your items in stock, every day!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>placeholder for selling graph</p>
    </div>
    <div class="col-md-4">
        <p>placeholder for top 5 lowest stocks</p>
    </div>
    <div class="col-md-4">
        <p>placeholder for who to order from today</p>
    </div>
</div>